body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/beanstalk.png");
}
.container{
    background-color: #ffffff;
    margin-bottom: 30px;
}
ul{
    color:  #777777;
}
a:link,
a:visited{
    text-decoration: none;
    color: #777777
}
.profileHeading{
    background-color: #ffffff;
    border-bottom: solid #777777;
}
.bigheading{
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
}
.littlehead{
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: solid #777777;
    color: #4aaaa5;
    margin-bottom: 10px;
}
button{
    margin-bottom: 10px;
}
footer{
    clear: both;
    height: 35px;
    margin-top: 15px;
    border-top: solid #4aaaa5 10px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}
img{
    max-width: 200px;
    max-height: 200px;
}
.thumbnail1,
.thumbnail2,
.thumbnail3,
.thumbnail4,
.thumbnail5{
    position: relative;
    width: 200px;
    float: left;
    margin: 25px;
}
.thumbnail3,
.thumbnail5{
    clear: both;
}
.textbox{
    background-color: #4aaaa5;
    position: absolute;
    bottom: 30px;
    width: 200px;
    color: #ffffff;
    height: 20px;
    text-align: center;
}
#crystal{
    color: #ffffff;
}